<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.set.app"
        versionCode = "10"
        version     = "1.1.0">

    <name>ТЕСТ. Set95.Ru</name>

    <description>
        Set95.Ru - Сеть магазинов!
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/c41883f0236536312362fce9d1de19af.png" density="ldpi" />
        <icon src="res/android/icon/1393912b4af1081b12d8d41ca0d4e325.png" density="mdpi" />
        <icon src="res/android/icon/7036dab8703ecc46cc59ab93f3e68acf.png" density="hdpi" />
        <icon src="res/android/icon/aa6e9a352d2bcc09895e8477fa057cc7.png" density="xhdpi" />
        <icon src="res/android/icon/fc38c3e2b39bdc184676492c06ed8c39.png" density="xxhdpi" />
        <icon src="res/android/icon/0d5abaae1191e18c70fac4f8bb89f8a9.png" density="xxxhdpi" />

        <splash src="res/android/screen/d17f0b0f4181ed801138b500f98b0441.png" density="port-hdpi"/>
        <splash src="res/android/screen/0c8357f740c42957e90bfa6133b33e34.png" density="port-ldpi"/>
        <splash src="res/android/screen/8da9bd5b815ffa26ad2419f12b921895.png" density="port-mdpi"/>
        <splash src="res/android/screen/aa192914af45fdce50673e1f9c99a33d.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/d01ee09c58cfcf3f3dfde9b827cd8e71.png" width="180" height="180" />
        <icon src="res/ios/icon/39f04b5984c963c8ddd75202d0d41f3d.png" width="60" height="60" />
        <icon src="res/ios/icon/1c6c68ea205ca1ba17ca63e74b3646c0.png" width="120" height="120" />
        <icon src="res/ios/icon/2ea5bd1adca50a7e19f7a767589415ab.png" width="76" height="76" />
        <icon src="res/ios/icon/0dc9b338cbdb08c924c4c9f8a5f5081a.png" width="152" height="152" />
        <icon src="res/ios/icon/ef9d1cf17c9fd9424dc6e2a69c8398fb.png" width="57" height="57" />
        <icon src="res/ios/icon/9b06b17772794b09294207bf715f1e48.png" width="114" height="114" />
        <icon src="res/ios/icon/dccc53b9bcc5cc42b859a7b2c8e03bcb.png" width="72" height="72" />
        <icon src="res/ios/icon/23a0605e172bae56fb101b5d0100edfc.png" width="144" height="144" />
        <icon src="res/ios/icon/45a6e763127e4b4f10485a6440fb275c.png" width="167" height="167" />
        <icon src="res/ios/icon/537ef1bd3e6eeebe963273ac5642510d.png" width="29" height="29" />
        <icon src="res/ios/icon/7ca3a3d3bcc2fbfa0e7695923a5376ba.png" width="58" height="58" />
        <icon src="res/ios/icon/ee2f881543397c9885715f3617b5f625.png" width="87" height="87" />
        <icon src="res/ios/icon/108bcbbd00ba1c1042ed413856ee5b85.png" width="167" height="167" />

        <splash src="res/ios/screen/9bb3ab480ac74a92a0cff4d9468be0a9.png" />
        <splash src="res/ios/screen/d3c0519033c36b77019542a51a88bea6.png" />
        <splash src="res/ios/screen/f3ce84a03ba82d42385d8af76508b4bc.png" />
        <splash src="res/ios/screen/8a9b1c1f58fffdb46a54ae6ff25258ba.png" />
        <splash src="res/ios/screen/d884e51d693538b402e70e84e6c38c8f.png" />
        <splash src="res/ios/screen/05810add61d8449f59f99db317929df8.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/62855a6faae9170a946f4e871ec9c406.png" target="StoreLogo" />
        <icon src="res/windows/icon/d9ac14cad96a15bf196ec4cf8d64b1d5.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/03904d278a92bc0a79e60294eccbdce1.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/17e41796c1d4e96d0c74ec2c2afd697b.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/cd27e358c9d6400f09416dc754b9e4f0.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/3dc6ea55d0b8a224b2fae1cf1882f1b5.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/f272745012d3d615e72352053bd807fd.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/a63d2ba6742f85514ea495dd5f840117.png" target="SplashScreen"/>
        <splash src="res/windows/screen/014627231afc1519a6cd018c40c5aaf3.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>